@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@font-face {
    font-family: 'droid_serifregular';
    src: url('../fonts/droidserif-regular-webfont.woff2') format('woff2'), url('../fonts/droidserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yanone_kaffeesatzregular';
    src: url('../fonts/yanonekaffeesatz-regular-webfont.woff2') format('woff2'), url('../fonts/yanonekaffeesatz-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*latin-ext DROID
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: italic;
    font-weight: 400;
    src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'), url(fonts/ubutu_mono_italic.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(fonts/ubutu_mono.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(fonts/ubutu_mono_bold.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

*/

body {
    font-family: droid_serifregular, 'Droid Serif';
    background-color: #333 !important;
    color: #444;
}

h1,
h2,
h3 {
    font-family: yanone_kaffeesatzregular, 'Yanone Kaffeesatz';
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.2;
}

.slide img[alt="INKSCAPE"] {
    height: 90px;
    margin-top: -10px;
    margin-bottom: -20px;
}
.end p:last-of-type{
    vertical-align:middle;
}
.end p:last-of-type img{
    min-height:70px;
    max-width:70px;
    padding:5px;
}
.dark {
    background-color: #333;
    color: #ccc;
}
.dark a{
    color:#D973CE;
}
a{
    color:#961674;
    border-width:0 0 1px 0;
    border-color:#D973CE;
    border-style:dashed;
    display:inline-block;
    padding:4px;
    text-decoration:none;
}
}

.slide>p:first-child {
    display: block;
    margin: 0;
}

.dark>p:first-child {
    display: none;
}

.remark-slide-scaler {
    box-shadow: 0 0 1px #aaa !important;
}

.remark-slide-number {
    /* font-size:14px;*/
    display: none;
}

.vidlauncher {
    width: 100px;
}

video {
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #444;
    z-index: 99999999;
    width: 100%;
    height: 100%;
}

.videocontainer {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    transform: none !important;
}


